.container {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}

.left {
  width: 100%;
}

.right {
  width: 20%;
}

.qbox {
  padding-left: 5%;
  padding-right: 5%;
}


.mat-card {
  margin-bottom: 5px;
}