<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>MeyasubakoV</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<!-- componentListをcopycomponentへ渡して設定する画面 -->
<app-copycomponent [componentlist]="componentList"></app-copycomponent>

<!-- フォーム保存 -->
<section class="save-section">
  <div class="example-button-row">
    <button mat-raised-button>保存</button>
  </div>
</section>